/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3b2950;
    padding: 20px;
}

/* Header Styles */
header {
    text-align: center;
    padding: 20px;
    background-color: #e93f76; /* Color morado */
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #fff;
}

/* Form Container Styles */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

/* Form Elements */
label {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #e93f76; /* Color morado */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e72208; /* Color al pasar el ratón */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 15px;
    background-color: #e93f76; /* Color morado */
    border-radius: 10px;
    margin-top: 40px;
    font-size: 0.9em;
    color: #fff;
}

footer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    .form-container {
        padding: 15px;
    }

    button {
        width: 100%; /* Botones ocupan todo el ancho */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
    }
}
.logo {
    width: 80px;
    height: 50px;
    margin-right: 18px;
    position: absolute;
    left: 15%;
    transform: translateX(-50%);
    top: 30px;
}

/* Estilo del botón con imagen */
.btn-regresar {
    display: inline-block;        /* Bloque en línea para permitir tamaño */
    background-image: url('https://i.imgur.com/nopEa8h.png'); /* Imagen como fondo */
    background-size: contain;     /* Ajusta la imagen para que encaje */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;  /* Centra la imagen dentro del botón */
    width: 50px;                  /* Ancho del botón */
    height: 50px;                 /* Alto del botón */
    border: none;                 /* Sin bordes */
    border-radius: 50%;           /* Botón circular */
    cursor: pointer;              /* Cambia el cursor a una mano */
    transition: transform 0.2s;   /* Transición suave al hacer hover */
}

/* Efecto hover */
.btn-regresar:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
}
